.navigation {
  display: flex;

  .cook, .food {
    width: 50%;
    height: 300px;
    font-size: 5rem;
    color: $black;
  }

  .cook {
    background-color: $white;
  }

  .food {
    background-color: $white;
  }
}
